body {
    display: flex;
    flex-direction: column;
    /* border: solid purple; */
    justify-content: center;
    align-items: center;
}
/* Main header */
header {
    /* border: solid green; */
    letter-spacing: 0.7vw;
    word-spacing: 5vw;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

/* Main */

main {
    /* border: 1px solid blue; */
    width: 100%;
}

/* general container style */
.container {
    /* border: 1px solid salmon; */
    display: flex;
    overflow: auto;
    height: 60vh;
    border: 1px solid rgba(58, 27, 99, 0.274);
    margin-top: 1em;
}

.section {
    display: flex;
    /* border: solid red; */
    flex-direction: column;
    width: 50%;
    height: 50vh;
    overflow: auto;
}

/* top container style */
#top-container {
    /* border: solid seagreen; */
    flex-direction: column;
    align-items:center ;
}

.top-title {
    letter-spacing: 0.7vw;
    word-spacing: 1vw;
}

.input-container {
    border: 1px solid rgba(170, 146, 146, 0.425);
    border-radius: 1vw;
    padding: 0.4vh;
    border: solid yellow;
}
input {
    margin: 0.2vh;
    outline: none;
}

.output-container {
    border: solid purple;
    width: 98%;
    height: 50vh;
    display: flex;
}

.user-container {
    width: 50%;
    border: solid seagreen;
    height: 100%;
    overflow: auto;
}

.user-info-container {
    width: 50%;
    border: solid goldenrod;
}
.user-ul {
    border: 1px solid red;
    width: 25%;
}

.user-ul > li {
    border: solid blue;
    text-wrap: nowrap;
    margin: 0;
}

/* firstnamenika and kweeuhree style */
.hidden-div {
    border: 1px solid rgba(58, 27, 99, 0.274);
    background-color: rgba(237, 237, 250, 0.459);
    transition: background-color 400ms linear 40ms;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.hidden-div:hover {
    background-color: rgba(177, 177, 236, 0.233);
}

/* click button */
.button-container {
    /* border: solid purple; */
    border-radius: 1vw;
    background-color: rgba(86, 86, 160, 0.712);
}

button {
    border:  none;
    width: 100%;
    letter-spacing: 0.6vw;
    font-weight: 600;
    border-radius: 1vw;
    background-color: rgba(146, 146, 185, 0.233);
    color: aliceblue;
}

button:hover, .button-container:hover {
    background-color: rgba(23, 23, 182, 0.432);
}

/* #hidden-firstnamenika, #hidden-kweeuhree {
    display: none;
} */
